
.nav-color{
    background-color: rgb(62, 129, 109) !important;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    color: rgb(39, 38, 38);
  }

.navbar-dark .navbar-brand{
    color: #ff9939;
    font-size: 1.6em !important;
    font-family: 'Bitter';
}

a:hover{
    color: #fff !important;
}
.contents{
    margin-top: 50px;
}
#disp-signup{
    
    
}

.fa-upload{
    padding-left: 6px;
}

#disp-logout{
    display: none;
}


.login-container{
    margin-left: 6%;

}

h6{
    padding-left: 10px;
}
.loginbtn{
margin-top: 15px !important;
}

#logo{
    height:40px;
    width: 54px;
}

.img-container{
    max-height: 100%;
    max-width: 95%;

}

.signup-container{
}

.raiseup {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

.raiseup h3, .raiseup h6{
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bold;
    color: #214478;
    font-family: 'Merienda';
}
.userProfile .col-sm-4{
padding-bottom: 30px;
}
.sideraise {
    box-shadow: 12px 3px 38px rgba(0,0,0,0.30), 0px 0px 10px rgba(0,0,0,0.22);
    
  }

.form-group{
    padding-left: 15px;
    padding-bottom: 3.4rem;
}

.icon-box{
    text-align: center;
    font-size: 4em;
    color: coral;
}

#portrait{
    margin:auto;
    margin-top:5%;
    width: 220px;
    height:200px;
    text-align: center;
}

.table td, .table th {
    padding: .5rem !important;
    border: none !important;
}

#portrait>img{
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;;
}

#databox{
    text-align: center;
    margin-top: 20px;
}

.topmargin{
    margin-top:15px;
}


/*Image Upload*/

.fileInput{
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
  
.imgPreview{
  text-align: center;
  height: 200px;
  width: 400px;
}

.imgPreview img{
    max-width: 100%;
    max-height: 100%;
}
.previewText
{  width: 100%;
  margin-top: 20px;}
  
.submitButton
{  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.centerText{
  text-align: center;
  width: 500px;
}

.headtag{
    margin-right: 100px;
    float: left;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-right: 16px;
    border-radius: 50%;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-tumblr {
    background: #2c4762;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fundLogo{
      width: 120px;
      height: 120px;
  }

  .socialLink{
      font-size: 3em;
      padding: 10px;
      padding-left: 20px;

      
  }
  .row-sim{
      color: #55acee;
      text-align: center;
  }

  .row-sim :hover{
      color: cadetblue;
  }

  .mgLeft{
      padding-left: 10px;
  }

  .fund{

        margin-top: 10px;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        border-bottom: 2px solid rgb(176, 122, 226);;
        padding-bottom: 10px;
  }
  .showFundName{
margin-top: 20px;
background-color: rgb(176, 122, 226);
padding:4px;
margin-top: 9px;
color: #fff;
font-weight: bold;

  }